.Palette {
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding: 1rem;
}

.Palette h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.Palette .colors {
  display: flex;
  justify-content: space-around;
}

.Palette .PaletteItem {
  opacity: 0.5;
  border-radius: 1rem;
  width: 1rem;
  height: 1.5rem;
}

.Palette .PaletteItem:hover {
  opacity: 0.7;
}

.Palette .PaletteItem.active {
  opacity: 1;
}
